body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:425px;
  height:228px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:831px;
  width:415px;
  height:218px;
  display:flex;
}
#u1842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1843_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:423px;
  height:881px;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:415px;
  height:873px;
  display:flex;
}
#u1843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:424px;
  height:89px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:79px;
  display:flex;
  color:#F4B242;
}
#u1844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:15px;
  width:90px;
  height:41px;
  display:flex;
}
#u1845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:125px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:151px;
  width:221px;
  height:125px;
  display:flex;
}
#u1846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:195px;
  width:19px;
  height:19px;
  display:flex;
}
#u1848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:195px;
  width:19px;
  height:19px;
  display:flex;
}
#u1849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:195px;
  width:19px;
  height:19px;
  display:flex;
}
#u1850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:195px;
  width:19px;
  height:19px;
  display:flex;
}
#u1851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:195px;
  width:19px;
  height:19px;
  display:flex;
}
#u1852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:94px;
  width:165px;
  height:36px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u1854 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:104px;
  width:25px;
  height:16px;
  display:flex;
}
#u1855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:172px;
  width:67px;
  height:14px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1856 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1856_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:229px;
  width:123px;
  height:4px;
  display:flex;
}
#u1857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:250px;
  width:123px;
  height:4px;
  display:flex;
}
#u1858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:270px;
  width:123px;
  height:4px;
  display:flex;
}
#u1859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1860_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:291px;
  width:358px;
  height:4px;
  display:flex;
}
#u1860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:311px;
  width:358px;
  height:4px;
  display:flex;
}
#u1861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:332px;
  width:358px;
  height:4px;
  display:flex;
}
#u1862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:125px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:396px;
  width:221px;
  height:125px;
  display:flex;
}
#u1863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:442px;
  width:19px;
  height:19px;
  display:flex;
}
#u1865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:442px;
  width:19px;
  height:19px;
  display:flex;
}
#u1866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:442px;
  width:19px;
  height:19px;
  display:flex;
}
#u1867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:442px;
  width:19px;
  height:19px;
  display:flex;
}
#u1868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:419px;
  width:67px;
  height:14px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1869 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1869_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1870_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:476px;
  width:123px;
  height:4px;
  display:flex;
}
#u1870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1871_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:497px;
  width:123px;
  height:4px;
  display:flex;
}
#u1871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1872_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:517px;
  width:123px;
  height:4px;
  display:flex;
}
#u1872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1873_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:538px;
  width:358px;
  height:4px;
  display:flex;
}
#u1873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:125px;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:602px;
  width:221px;
  height:125px;
  display:flex;
}
#u1874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:646px;
  width:19px;
  height:19px;
  display:flex;
}
#u1876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:646px;
  width:19px;
  height:19px;
  display:flex;
}
#u1877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:646px;
  width:19px;
  height:19px;
  display:flex;
}
#u1878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:646px;
  width:19px;
  height:19px;
  display:flex;
}
#u1879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:623px;
  width:67px;
  height:14px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1881_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:680px;
  width:123px;
  height:4px;
  display:flex;
}
#u1881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1882_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:701px;
  width:123px;
  height:4px;
  display:flex;
}
#u1882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1883_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:721px;
  width:123px;
  height:4px;
  display:flex;
}
#u1883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1884_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:742px;
  width:358px;
  height:4px;
  display:flex;
}
#u1884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1885_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:205px;
  height:9px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:762px;
  width:200px;
  height:4px;
  display:flex;
}
#u1885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1886_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1051px;
  width:358px;
  height:4px;
  display:flex;
}
#u1886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1887_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1071px;
  width:358px;
  height:4px;
  display:flex;
}
#u1887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:125px;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1140px;
  width:221px;
  height:125px;
  display:flex;
}
#u1888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1184px;
  width:19px;
  height:19px;
  display:flex;
}
#u1890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1184px;
  width:19px;
  height:19px;
  display:flex;
}
#u1891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:1184px;
  width:19px;
  height:19px;
  display:flex;
}
#u1892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:1184px;
  width:19px;
  height:19px;
  display:flex;
}
#u1893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1161px;
  width:67px;
  height:14px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1894 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1894_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1895_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1218px;
  width:123px;
  height:4px;
  display:flex;
}
#u1895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1896_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1239px;
  width:123px;
  height:4px;
  display:flex;
}
#u1896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1897_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1259px;
  width:123px;
  height:4px;
  display:flex;
}
#u1897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1898_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1280px;
  width:358px;
  height:4px;
  display:flex;
}
#u1898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1899_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1300px;
  width:358px;
  height:4px;
  display:flex;
}
#u1899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1900_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:9px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1321px;
  width:144px;
  height:4px;
  display:flex;
}
#u1900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:136px;
  width:39px;
  height:25px;
  display:flex;
  -webkit-transform:rotate(336deg);
  -moz-transform:rotate(336deg);
  -ms-transform:rotate(336deg);
  transform:rotate(336deg);
}
#u1901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:125px;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:1391px;
  width:221px;
  height:125px;
  display:flex;
}
#u1902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1437px;
  width:19px;
  height:19px;
  display:flex;
}
#u1904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1437px;
  width:19px;
  height:19px;
  display:flex;
}
#u1905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:1437px;
  width:19px;
  height:19px;
  display:flex;
}
#u1906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:1437px;
  width:19px;
  height:19px;
  display:flex;
}
#u1907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1414px;
  width:67px;
  height:14px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1909_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1471px;
  width:123px;
  height:4px;
  display:flex;
}
#u1909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1910_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1492px;
  width:123px;
  height:4px;
  display:flex;
}
#u1910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1911_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1512px;
  width:123px;
  height:4px;
  display:flex;
}
#u1911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1912_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1533px;
  width:358px;
  height:4px;
  display:flex;
}
#u1912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:125px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1597px;
  width:221px;
  height:125px;
  display:flex;
}
#u1913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1641px;
  width:19px;
  height:19px;
  display:flex;
}
#u1915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1641px;
  width:19px;
  height:19px;
  display:flex;
}
#u1916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:1641px;
  width:19px;
  height:19px;
  display:flex;
}
#u1917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:1641px;
  width:19px;
  height:19px;
  display:flex;
}
#u1918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1618px;
  width:67px;
  height:14px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1920_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1675px;
  width:123px;
  height:4px;
  display:flex;
}
#u1920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1921_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1696px;
  width:123px;
  height:4px;
  display:flex;
}
#u1921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1922_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:9px;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1716px;
  width:123px;
  height:4px;
  display:flex;
}
#u1922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1923_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1737px;
  width:358px;
  height:4px;
  display:flex;
}
#u1923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1924_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:205px;
  height:9px;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1757px;
  width:200px;
  height:4px;
  display:flex;
}
#u1924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:22px;
  width:27px;
  height:27px;
  display:flex;
  opacity:0.48;
  color:#D7D7D7;
}
#u1925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:372px;
  width:296px;
  height:1px;
  display:flex;
}
#u1926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:575px;
  width:296px;
  height:1px;
  display:flex;
}
#u1927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1108px;
  width:296px;
  height:1px;
  display:flex;
}
#u1928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1360px;
  width:296px;
  height:1px;
  display:flex;
}
#u1929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1567px;
  width:296px;
  height:1px;
  display:flex;
}
#u1930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1849px;
  width:296px;
  height:1px;
  display:flex;
}
#u1931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1932 {
  position:fixed;
  left:359px;
  top:677px;
}
#u1932_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1934_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:49px;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
  display:flex;
}
#u1934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1935_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:21px;
  height:13px;
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:15px;
  width:17px;
  height:9px;
  display:flex;
}
#u1935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
