body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u301_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u301_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:227px;
  width:171px;
  height:42px;
  display:flex;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:103px;
  width:171px;
  height:125px;
  display:flex;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u305_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:103px;
  width:171px;
  height:125px;
  display:flex;
}
#u305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:147px;
  width:148px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u306 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:239px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:200px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u308 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u310_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:227px;
  width:171px;
  height:42px;
  display:flex;
}
#u310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u311_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:103px;
  width:171px;
  height:125px;
  display:flex;
}
#u311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:147px;
  width:149px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u312 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:239px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:200px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u314 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:299px;
  width:171px;
  height:125px;
  display:flex;
}
#u316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:299px;
  width:171px;
  height:125px;
  display:flex;
}
#u317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:423px;
  width:171px;
  height:42px;
  display:flex;
}
#u318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:435px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:343px;
  width:149px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u320 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:396px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u321 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u323_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:423px;
  width:171px;
  height:42px;
  display:flex;
}
#u323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:299px;
  width:171px;
  height:125px;
  display:flex;
}
#u324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:299px;
  width:171px;
  height:125px;
  display:flex;
}
#u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:343px;
  width:148px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:435px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:396px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u328 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u330_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:619px;
  width:171px;
  height:42px;
  display:flex;
}
#u330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:495px;
  width:171px;
  height:125px;
  display:flex;
}
#u331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:539px;
  width:149px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:631px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:592px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:619px;
  width:171px;
  height:42px;
  display:flex;
}
#u336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u337_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:495px;
  width:171px;
  height:125px;
  display:flex;
}
#u337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:495px;
  width:171px;
  height:125px;
  display:flex;
}
#u338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:539px;
  width:148px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:631px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:592px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u341 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:815px;
  width:171px;
  height:42px;
  display:flex;
}
#u343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:691px;
  width:171px;
  height:125px;
  display:flex;
}
#u344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u345_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:691px;
  width:171px;
  height:125px;
  display:flex;
}
#u345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:735px;
  width:148px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u346 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:827px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:788px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u348 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:815px;
  width:171px;
  height:42px;
  display:flex;
}
#u350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:691px;
  width:171px;
  height:125px;
  display:flex;
}
#u351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:735px;
  width:149px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:827px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:788px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u354 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u356_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:887px;
  width:171px;
  height:125px;
  display:flex;
}
#u356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u357_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:887px;
  width:171px;
  height:125px;
  display:flex;
}
#u357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u358_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1011px;
  width:171px;
  height:42px;
  display:flex;
}
#u358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1023px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:931px;
  width:149px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:984px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u361 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u363_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:1011px;
  width:171px;
  height:42px;
  display:flex;
}
#u363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:887px;
  width:171px;
  height:125px;
  display:flex;
}
#u364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:887px;
  width:171px;
  height:125px;
  display:flex;
}
#u365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:931px;
  width:148px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u366 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1023px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:984px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u368 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1207px;
  width:171px;
  height:42px;
  display:flex;
}
#u370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1083px;
  width:171px;
  height:125px;
  display:flex;
}
#u371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1127px;
  width:149px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u372 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1219px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1180px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u374 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:52px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:1207px;
  width:171px;
  height:42px;
  display:flex;
}
#u376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:1083px;
  width:171px;
  height:125px;
  display:flex;
}
#u377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:181px;
  height:135px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:1083px;
  width:171px;
  height:125px;
  display:flex;
}
#u378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:1127px;
  width:148px;
  height:37px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u379 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1219px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#7F7F7F;
}
#u380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:1180px;
  width:84px;
  height:10px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
  text-align:center;
}
#u381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:424px;
  height:89px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:79px;
  display:flex;
  color:#F4B242;
}
#u382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:15px;
  width:90px;
  height:41px;
  display:flex;
}
#u383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:22px;
  width:27px;
  height:27px;
  display:flex;
  opacity:0.48;
  color:#D7D7D7;
}
#u384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:343px;
  height:91px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:449px;
  width:333px;
  height:81px;
  display:flex;
}
#u386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:343px;
  height:252px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:207px;
  width:333px;
  height:242px;
  display:flex;
}
#u387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:343px;
  height:252px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:207px;
  width:333px;
  height:242px;
  display:flex;
}
#u388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:294px;
  width:290px;
  height:36px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u389 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 182, 96, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F7F7F;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:472px;
  width:263px;
  height:40px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F7F7F;
}
#u390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:395px;
  width:164px;
  height:18px;
  display:flex;
  font-family:'TypoGotikaDemo', 'Typo Gotika Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u391 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u391_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
