body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u392_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u392_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:338px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
}
#u394 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:89px;
  width:188px;
  height:338px;
  display:flex;
}
#u394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:252px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:89px;
  width:188px;
  height:252px;
  display:flex;
}
#u395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:352px;
  width:26px;
  height:24px;
  display:flex;
}
#u396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:355px;
  width:110px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u397 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:147px;
  height:9px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:390px;
  width:142px;
  height:4px;
  display:flex;
}
#u398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:9px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:404px;
  width:111px;
  height:4px;
  display:flex;
}
#u399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
}
#u401 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:89px;
  width:189px;
  height:226px;
  display:flex;
}
#u401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:189px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:89px;
  width:189px;
  height:189px;
  display:flex;
}
#u402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:34px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:284px;
  width:26px;
  height:24px;
  display:flex;
}
#u403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:286px;
  width:111px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u404 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
}
#u406 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:327px;
  width:188px;
  height:213px;
  display:flex;
}
#u406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:126px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:327px;
  width:188px;
  height:126px;
  display:flex;
}
#u407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:462px;
  width:26px;
  height:24px;
  display:flex;
}
#u408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:465px;
  width:110px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u409 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:147px;
  height:9px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:501px;
  width:142px;
  height:4px;
  display:flex;
}
#u410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:515px;
  width:55px;
  height:4px;
  display:flex;
}
#u411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
}
#u413 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:439px;
  width:189px;
  height:266px;
  display:flex;
}
#u413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:189px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:439px;
  width:189px;
  height:189px;
  display:flex;
}
#u414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:34px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:634px;
  width:26px;
  height:24px;
  display:flex;
}
#u415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:636px;
  width:111px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u416 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:147px;
  height:9px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:670px;
  width:142px;
  height:4px;
  display:flex;
}
#u417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:684px;
  width:55px;
  height:4px;
  display:flex;
}
#u418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
}
#u420 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:552px;
  width:188px;
  height:213px;
  display:flex;
}
#u420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:126px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:552px;
  width:188px;
  height:126px;
  display:flex;
}
#u421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:687px;
  width:26px;
  height:24px;
  display:flex;
}
#u422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:690px;
  width:110px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:147px;
  height:9px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:726px;
  width:142px;
  height:4px;
  display:flex;
}
#u424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:740px;
  width:55px;
  height:4px;
  display:flex;
}
#u425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
}
#u427 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:717px;
  width:188px;
  height:213px;
  display:flex;
}
#u427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:126px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:717px;
  width:188px;
  height:126px;
  display:flex;
}
#u428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:852px;
  width:26px;
  height:24px;
  display:flex;
}
#u429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:855px;
  width:110px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:147px;
  height:9px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:891px;
  width:142px;
  height:4px;
  display:flex;
}
#u431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:905px;
  width:55px;
  height:4px;
  display:flex;
}
#u432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:338px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
}
#u434 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:777px;
  width:188px;
  height:338px;
  display:flex;
}
#u434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:252px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:777px;
  width:188px;
  height:252px;
  display:flex;
}
#u435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:1040px;
  width:26px;
  height:24px;
  display:flex;
}
#u436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:1043px;
  width:110px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:147px;
  height:9px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:1078px;
  width:142px;
  height:4px;
  display:flex;
}
#u438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:9px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:1092px;
  width:111px;
  height:4px;
  display:flex;
}
#u439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:338px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
}
#u441 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:942px;
  width:188px;
  height:338px;
  display:flex;
}
#u441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:252px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:942px;
  width:188px;
  height:252px;
  display:flex;
}
#u442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1205px;
  width:26px;
  height:24px;
  display:flex;
}
#u443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1208px;
  width:110px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u444 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:147px;
  height:9px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1243px;
  width:142px;
  height:4px;
  display:flex;
}
#u445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:9px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1257px;
  width:111px;
  height:4px;
  display:flex;
}
#u446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(85, 85, 85, 0.349019607843137);
}
#u448 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:1127px;
  width:188px;
  height:213px;
  display:flex;
}
#u448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:126px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:1127px;
  width:188px;
  height:126px;
  display:flex;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1262px;
  width:26px;
  height:24px;
  display:flex;
}
#u450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1265px;
  width:110px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:147px;
  height:9px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1301px;
  width:142px;
  height:4px;
  display:flex;
}
#u452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1315px;
  width:55px;
  height:4px;
  display:flex;
}
#u453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
}
#u455 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1292px;
  width:189px;
  height:266px;
  display:flex;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:189px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1292px;
  width:189px;
  height:189px;
  display:flex;
}
#u456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:34px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1487px;
  width:26px;
  height:24px;
  display:flex;
}
#u457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1489px;
  width:111px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u458 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:147px;
  height:9px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1523px;
  width:142px;
  height:4px;
  display:flex;
}
#u459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1537px;
  width:55px;
  height:4px;
  display:flex;
}
#u460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(127, 127, 127, 0.349019607843137);
}
#u462 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:1352px;
  width:189px;
  height:226px;
  display:flex;
}
#u462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:189px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:1352px;
  width:189px;
  height:189px;
  display:flex;
}
#u463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:34px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:1547px;
  width:26px;
  height:24px;
  display:flex;
}
#u464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:1549px;
  width:111px;
  height:22px;
  display:flex;
  font-family:'TypoGotikaLightDemo', 'Typo Gotika Light Demo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u465 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:1617px;
  width:200px;
  height:1px;
  display:flex;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u467 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:341px;
  width:6px;
  height:18px;
  display:flex;
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u468 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:278px;
  width:6px;
  height:18px;
  display:flex;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(202, 249, 130, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u469 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:453px;
  width:6px;
  height:18px;
  display:flex;
}
#u469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(202, 249, 130, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u470 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:628px;
  width:6px;
  height:18px;
  display:flex;
}
#u470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(250, 205, 145, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u471 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:678px;
  width:6px;
  height:18px;
  display:flex;
}
#u471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(250, 205, 145, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u472 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:843px;
  width:6px;
  height:18px;
  display:flex;
}
#u472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(250, 205, 145, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u473 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:1029px;
  width:6px;
  height:18px;
  display:flex;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u474 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1194px;
  width:6px;
  height:18px;
  display:flex;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u475 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:1253px;
  width:6px;
  height:18px;
  display:flex;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(202, 249, 130, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u476 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1481px;
  width:6px;
  height:18px;
  display:flex;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(202, 249, 130, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  -webkit-box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
  box-shadow:2px 2px 5px rgba(85, 85, 85, 0.192156862745098);
}
#u477 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:1541px;
  width:6px;
  height:18px;
  display:flex;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:424px;
  height:89px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:79px;
  display:flex;
  color:#F4B242;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:15px;
  width:90px;
  height:41px;
  display:flex;
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:22px;
  width:27px;
  height:27px;
  display:flex;
  opacity:0.48;
  color:#D7D7D7;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u481 {
  position:fixed;
  left:359px;
  top:677px;
}
#u481_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u481_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:49px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
  display:flex;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:21px;
  height:13px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:15px;
  width:17px;
  height:9px;
  display:flex;
}
#u484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
